<!DOCTYPE html>
<html lang="en" style=""
	class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">

<head th:replace="/fragments :: head"></head>

<body>
	<div th:replace="/fragments :: top-bar"></div>
	<div th:replace="/fragments :: nav"></div>
	<header class="page-header" style="background-image: url(assets/images/_inner-bg.jpg);">
		<div class="container">
			<ol class="bread">
				<li>
					<a th:href="@{/index}"><span>Home</span></a>
				</li>
				<li class="divider"><span>//</span></li>
				<li>
					<span th:text="${activePage}"></span>
				</li>
			</ol>
			<h1 th:text="${activePage}">Find passengers</h1>
		</div>
	</header>
	
	<div class="container shortcodes text-page inner">
		<div class="row">
			<div class="col-xs-12">
				<div id="table-scroll">
					<div sec:authorize="hasAuthority('DRIVER')" th:replace="/tables :: driver-trips"></div>
				</div>
				<div class="paging-navigation" th:if="${page.pageItem.totalPages > 1}">
					<hr>
					<div class="pagination">
						<span th:if="${!page.isFirstPage}">
							<a th:href="@{|${page.requestURI}/${page.currentPage - 1}/${page.size}|}"
							class="prev"><span class="fa fa-caret-left"></span> prev</a>
						</span>
						<a th:each="pageNumber : ${page.pageNumbers}"
							th:href="@{|${page.requestURI}/${pageNumber}/${page.size}|}"
							th:class="${pageNumber==page.pageItem.number + 1} ? 'page-numbers current' : 'page-numbers'"
							th:text=${pageNumber}></a>
						<span th:if="${!page.isLastPage}">
							<a th:href="@{|${page.requestURI}/${page.currentPage + 1}/${page.size}||}"
								class="next">next <span class="fa fa-caret-right"></span>
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section th:replace="/fragments :: block-footer"></section>
	<footer th:replace="/fragments :: footer"></footer>
	<div th:include="/fragments :: scripts-bottom"></div>
</body>

</html>