<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: head"></head>

<body>
	<div th:replace="fragments :: top-bar"></div>
	<div th:replace="fragments :: nav"></div>
	<header class="page-header" style="background-image: url(assets/images/index/_inner-bg.jpg);">
		<div class="container">
			<ol class="bread">
				<li>
					<a th:href="@{/index}"><span>Home</span></a>
				</li>
				<li class="divider"><span>//</span></li>
				<li>
					<span th:text="${activePage}"></span>
				</li>
			</ol>
			<h1 th:text="${activePage}">Find passengers</h1>
		</div>
	</header>
	
	<div class="container shortcodes text-page inner">
		<div class="row">
			<div class="col-xs-12">
				<div id="table-scroll">
					<div sec:authorize="hasAuthority('DRIVER')" th:replace="tables :: driver-available-trips"></div>
				</div>
				<div th:replace="tables :: paging"></div>
			</div>
		</div>
	</div>


	<section th:replace="fragments :: block-footer"></section>
	<footer th:replace="fragments :: footer"></footer>
	<div th:include="fragments :: scripts-bottom"></div>
</body>

</html>