<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml" xmlns:th="http:/ /www.thymeleaf.org"
	class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">

<head th:replace="/fragments :: head"></head>

<body>
	<div th:replace="/fragments :: top-bar"></div>
	<div th:replace="/fragments :: nav"></div>
	<header class="page-header" style="background-image: url(../images/_homepage-1-bg.jpg);">
		<div class="container">
			<ol class="bread">
				<li>
					<a th:href="@{/index}"><span>Home</span></a>
				</li>
				<li class="divider"><span>//</span></li>
				<li>
					<span>Take passenger</span>
				</li>
			</ol>
			<h1>Take passenger</h1>
		</div>
	</header>

	<section class="form-taxi-short">
		<div class="container">
			<!-- <h4 class="yellow aligncenter">Our operators are waiting for your call:</h4>
			<h3 class="aligncenter">800-5-800</h3>
			<p class="form-label">Also you can order a taxi online</p> -->
			
			<form th:action="@{/trips}" th:method="put"  th:object="${trip}">

				<div class="col-lg-12 text-page">
					<h4 class="margin-top-0 ">Trip details</h4>
					<hr class="lg">	
					<div class="row">
						<div class="col-md-6 information">
							<blockquote>
								<div class="white large">Date and time:</div>
							</blockquote>
						</div>				
						<div class="col-md-6">
							<div class="trip-data-container">
								<div class="large" th:text="*{#temporals.format(departureDateTime, 'dd&#x2011MM&#x2011yyyy HH:mm')}"></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 information">
							<blockquote>
								<div class="white large">Origin address:</div>
							</blockquote>
						</div>				
						<div class="col-md-6">
							<div class="trip-data-container">
								<address id="originAddr" class="large" th:text="*{originAddress}"></address>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 information">
							<blockquote>
								<div class="white large">Destinatation address:</div>
							</blockquote>
						</div>				
						<div class="col-md-6">
							<div class="trip-data-container">
								<address id="destinationAddr" class="large" th:text="*{destinationAddress}"></address>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 information">
							<blockquote>
								<div class="white large">Passenger:</div>
							</blockquote>
						</div>				
						<div class="col-md-6">
							<div class="trip-data-container">
								<div class="large" th:text="|*{passengerName}, ${passengerAge}&nbspy.o.|"></div>
							</div>
						</div>
					</div>
					
				</div>

				<div class="hidden">
					<input th:field="*{id}"  type="text" th:value="${id}"/>
					<input type="text" id="taxiAddr" th:field="*{taxiLocationAddress.address}" th:value="*{taxiLocationAddress.address}">
				</div>
			
				<input type="submit" value="Take passenger" class="btn btn-lg btn-black btn-white aligncenter width-300">
				<a th:href="@{/trips/drivers/active}" class="btn btn-lg btn-black btn-white aligncenter width-300">Search anoter</a>
					<!-- <input type="hidden" id="orgAddrLat" value="originAddress.latitude" >
					<input type="hidden" id="orgAddrLng" value="originAddress.longitude" >
					<input type="hidden" id="destAddrLat" value="destinationAddress.latitude" >
					<input type="hidden" id="destAddrLng" value="destinationAddress.longitude" > -->
				
						<!-- <input th:field="*{destinationAddr}" type="hidden" th:value="${destinationAddr}"/> -->

			</form>


		</div>
	</section>

	<section id="maps">
		<div class="container">
			<h4 class="yellow">See you way on</h4>
			<h2 class="h1">Map</h2>
			<div style="display: none">
			</div>
			<div id="map"></div>
			<hr class="lg">
			<div id="sidebar">
				<h5 class="yellow">Distance to passenger: <span id="total"></span></h5>
				<div id="panel"></div>
			</div>
		</div>
	</section>
	
	
	<section th:replace="/fragments :: block-footer"></section>

    <footer th:replace="/fragments :: footer"></footer>

	<div th:include="/fragments :: scripts-bottom"></div>

	<!-- <script type="text/javascript" th:src="@{/js/map-style.js}"></script> -->
	<!-- <script type="text/javascript" th:src="@{/js/map.js}"></script> -->
	<script type="text/javascript" th:src="@{/js/current-location.js}"></script>
	<script th:replace="/fragments :: map-script"></script>

	<!-- <script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyC5gfkKVMI4OYiiSBtfBx35Jc9GffAfALo&&callback=initMap&libraries=places}"
	defer></script> -->

</body>

</html>