<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head th:replace="/fragments :: head"></head>

<body>
	<div th:replace="/fragments :: top-bar"></div>
	<div th:replace="/fragments :: nav"></div>
	<header class="page-header bgMove" style="background-image: url(assets/images/_inner-bg.jpg);">
		<div class="container">
			<ol class="bread">
				<li>
					<a th:href="@{/index}"><span>Home</span></a>
				</li>
				<li class="divider"><span>//</span></li>
				<li>
					<a th:href="@{#}"><span>My account</span></a>
				</li>
				<li class="divider"><span>//</span></li>
				<li>
					<span>My balance</span>
				</li>
			</ol>
			<h1 th:text="|Welcome,  *{user.name}|" ></h1>
		</div>
	</header>

	<div class="container">
		<div class="inner inner-two-col row">
			<div class="col-lg-8 text-page">
				<h4 class="margin-top-0 ">My balance</h4>
				<hr class="lg">	
				<div class="row">
					<div class="col-md-6">
						<blockquote>
							<div class="yellow large">My current balance:</div>
						</blockquote>
					</div>				
					<div class="col-md-6">
						<div class="personal-data-container">
			   				<div class="large" th:utext="|*{user.balance}, &#8372;|"></div>
						</div>
					</div>
				</div>

				<form sec:authorize="hasAuthority('PASSENGER')" th:action="@{/balance/recharge}" 
					th:method="put" th:object="${newBalanceDTO}">
					<div class="form-group">
						<label>Recharge my balance <span class="red">*</span></label>
						<input type="number" th:field="*{value}" placeholder="1.0" step="0.01" min="0" required>
						<div class="validationError" th:if="${#fields.hasErrors('value')}"
							th:errors="*{value}">Balance error</div>
					</div>
					<input type="submit" value="Recharge" class="btn btn-yellow aligncenter btn-lg">
				</form>

				<form sec:authorize="hasAuthority('DRIVER')" th:action="@{/balance/withdraw}" 
					th:method="put" th:object="${newBalanceDTO}">
					<div class="form-group">
						<label>Withdraw my funds <span class="red">*</span></label>
						<input type="number" th:field="*{value}" placeholder="1.0" step="0.01" min="0" required>
						<div class="validationError" th:if="${#fields.hasErrors('value')}"
							th:errors="*{value}">Balance error</div>
					</div>
					<div th:if="${errorMessage}" class="alert alert-black" >
						<div class="header"><span class="fa fa-info-circle"></span>Warning</div>
						<p th:text="${errorMessage}"></p>
					</div>
					<input type="submit" value="Withdraw" class="btn btn-yellow aligncenter btn-lg">
				</form>
			</div>

			<div class="col-lg-4">
				<div class="widget-area" role="complementary">
					<aside th:replace="/fragments :: aside-nav"></aside>
					<aside th:replace="/fragments :: aside-social"></aside>
				</div>
			</div>

		</div>
	</div>

    <section th:replace="/fragments :: block-footer"></section>

    <footer th:replace="/fragments :: footer"></footer>

    <div th:include="/fragments :: scripts-bottom"></div>

</body>

</html>