<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head th:replace="fragments :: head"></head>

<body>
	<div th:replace="fragments :: top-bar"></div>
	<div th:replace="fragments :: nav"></div>
	<header class="page-header bgMove" style="background-image: url(assets/images/_inner-bg.jpg);">
		<div class="container">
			<ol class="bread">
				<li>
					<a th:href="@{/index}"><span>Home</span></a>
				</li>
				<li class="divider"><span>//</span></li>
				<li>
					<a th:href="@{#}"><span>My account</span></a>
				</li>
				<li class="divider"><span>//</span></li>
				<li>
					<span>My account</span>
				</li>
			</ol>
			<h1 th:text="|Welcome,  *{user.name}|" ></h1>
		</div>
	</header>


	<div class="container">
		<div class="inner inner-two-col row">
			<div class="col-lg-8 text-page">
				<h4 class="margin-top-0 ">My data</h4>
				<hr class="lg">	
				<div class="row">
					<div class="col-md-6">
						<blockquote>
							<div class="yellow large">Name:</div>
							<div class="yellow large">Surname:</div>
							<div class="yellow large">Date of birth:</div>
							<div class="yellow large">Email:</div>
							<div class="yellow large">Phone:</div>
						</blockquote>
					</div>				
					<div class="col-md-6">
						<div class="personal-data-container">
							<div class="large" th:text="*{user.name}"></div>
							<div class="large" th:text="*{user.surname}"></div>
							<div class="large" th:text="*{user.birthDate}"></div>
							<div class="large" th:text="*{user.email}"></div>
							<div class="large" th:text="*{user.phone}"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="widget-area" role="complementary">
					<aside th:replace="fragments :: aside-nav"></aside>
					<aside th:replace="fragments :: aside-social"></aside>
				</div>
			</div>
			
		</div>
	</div>

    <section th:replace="fragments :: block-footer"></section>
    <footer th:replace="fragments :: footer"></footer>
    <div th:include="fragments :: scripts-bottom"></div>

</body>

</html>