<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/png" th:href="@{/images/common/meta-logo.png}">
    <title>Drive IN</title>

	<link rel="stylesheet" th:href="@{/styles/bootstrap-grid.css}" />
    <link rel="stylesheet" th:href="@{/styles/font-awesome.css}" />
    <link rel="stylesheet" th:href="@{/styles/swiper.css}" />
    <link rel="stylesheet" th:href="@{/styles/swipebox.css}" />
    <link rel="stylesheet" th:href="@{/styles/zoomslider.css}" />
	<link rel="stylesheet" th:href="@{/styles/jquery-ui.css}" />
    <link rel="stylesheet" th:href="@{/styles/style.css}" />

	<div th:include="/fragments :: scripts-top"></div>
</head>

<div th:fragment="scripts-top">
	<script src="http://localhost:35729/livereload.js"></script>
</div>

<div th:fragment="top-bar" id="top-bar">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-9">
				<div class="contacts">
					<div><span class="fa fa-phone"></span> 800-5-800</div>
					<div class="hidden-xs hidden-ms"><span class="fa fa-phone"></span> 43 2-nd Avenue, New York,
						29004-7153</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-3">
				<div class="social social-small visible-lg">
					<a th:href="@{https://twitter.com}" class="fa fa-twitter"></a>
					<a th:href="@{/https://www.facebook.com}" class="fa fa-facebook"></a>
					<a th:href="@{/https://www.instagram.com}" class="fa fa-instagram"></a>
					<a th:href="@{/https://www.youtube.com}" class="fa fa-youtube"></a>
				</div>
				<a th:href="@{/taxi}" class="btn btn-xs btn-black-bordered pull-right">Get taxi online</a>
			</div>
		</div>
	</div>
</div>

<div th:fragment="nav" class="nav-wrapper" id="nav-wrapper">
	<nav class="navbar navbar-static navbar-affix affix-top" data-spy="affix">
		<a class="logo" href="#">
			<img th:fragment="logo" th:src="@{/images/common/logo-inner.png}" alt="Drive IN">
		</a>
		<div th:include="/fragments :: nav-inner"></div>
	</nav>
</div>


<div th:fragment="nav-inner">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar top-bar"></span>
			<span class="icon-bar middle-bar"></span>
			<span class="icon-bar bottom-bar"></span>
		</button>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<button type="button" class="navbar-toggle collapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar top-bar"></span>
			<span class="icon-bar middle-bar"></span>
			<span class="icon-bar bottom-bar"></span>
		</button>
		<ul class="nav navbar-nav">
			<li th:class="${activePage == 'index'} ? 'menu-item current_page_item' : 'menu-item'">
				<a th:href="@{/index}">Home</a>
			</li>

			<li sec:authorize="hasAuthority('PASSENGER')" th:class="${activePage == 'Get taxi'} ? 'menu-item current_page_item' : 'menu-item'">
				<a th:href="@{/trips/new}">Get Taxi</a>
			</li>
			<li sec:authorize="hasAuthority('DRIVER')" th:class="${activePage == 'Find passengers'} ? 'menu-item current_page_item' : 'menu-item'">
				<a th:href="@{/trips/drivers/available}">Find passengers</a>
			</li>

			<li sec:authorize="isAuthenticated()" th:class="${activePage == 'myAccount'} ? 'hasSub menu-item current_page_item' : 'hasSub menu-item'">
				<a th:href="@{/users/info}">My account</a>
				<ul class="sub-menu">
					<li th:class="${subPage == 'info'} ? 'menu-item current_page_item' : 'menu-item'">
						<a th:href="@{/users/info}">My page</a>						
					</li>

					<li sec:authorize="hasAuthority('PASSENGER')" th:class="${subPage == 'balance'} ? 'menu-item current_page_item' : 'menu-item'">
						<a th:href="@{/balance}">My balance</a>
					</li>
						
					<li sec:authorize="hasAuthority('PASSENGER')" th:class="${subPage == 'All trips'} ? 'menu-item current_page_item' : 'menu-item'">
						<a th:href="@{/trips/passengers/all}">All my trips</a>
					</li>
					<li sec:authorize="hasAuthority('PASSENGER')" th:class="${subPage == 'Active trips'} ? 'menu-item current_page_item' : 'menu-item'">
						<a th:href="@{/trips/passengers/active}">My active trips</a>
					</li>
					<li sec:authorize="hasAuthority('PASSENGER')" th:class="${subPage == 'Past trips'} ? 'menu-item current_page_item' : 'menu-item'">
						<a th:href="@{/trips/passengers/past}">My past trips</a>
					</li>


					<li sec:authorize="hasAuthority('DRIVER')" th:class="${subPage == 'balance'} ? 'menu-item current_page_item' : 'menu-item'">
						<a th:href="@{/balance}">My balance</a>
					</li>
					<li sec:authorize="hasAuthority('DRIVER')" th:class="${subPage == 'All trips'} ? 'menu-item current_page_item' : 'menu-item'">
						<a th:href="@{/trips/drivers/all}">All my trips</a>
					</li>
					<li sec:authorize="hasAuthority('DRIVER')" th:class="${subPage == 'Active trips'} ? 'menu-item current_page_item' : 'menu-item'">
						<a th:href="@{/trips/drivers/active}">My active trips</a>
					</li>
					<li sec:authorize="hasAuthority('DRIVER')" th:class="${subPage == 'Past trips'} ? 'menu-item current_page_item' : 'menu-item'">
						<a th:href="@{/trips/drivers/past}">My past trips</a>
					</li>
				</ul>
			</li>
			<li sec:authorize="!isAuthenticated()" th:class="${activePage == 'auth'} ? 'hasSub menu-item current_page_item' : 'hasSub menu-item'">
				<a th:href="@{/auth/login}">Authentication</a>
				<ul class="sub-menu">
					<li th:class="${subPage == 'login'} ? 'menu-item current_page_item' : 'menu-item'">
						<a th:href="@{/auth/login}">Log in</a>
					</li>
					<li th:class="${subPage == 'registration'} ? 'menu-item current_page_item' : 'menu-item'">
						<a th:href="@{/auth/registration}">Create account</a>
					</li>
				</ul>
			</li>
			<li sec:authorize="isAuthenticated()" class="menu-item">
				<form id="logout-form" th:action="@{/auth/logout}" method="post" class="form form-sm">
					<input type="submit" value="Log out" class="logout-input">
				</form>
			</li>
		</ul>
	</div>
</div>

<aside th:fragment="aside-nav" class="widget">	
	<h4>My account</h4>
	<ul>
		<li><a id="my-page-nav" href="/users/info">My page</a></li>
	</ul>
	<h4>My balance</h4>
	<ul sec:authorize="hasAuthority('PASSENGER')">
		<li><a id="my-page-nav" href="/balance">Recharge balance</a></li>
	</ul>
	<ul sec:authorize="hasAuthority('DRIVER')">
		<li><a id="my-page-nav" href="/balance">Withdraw funds</a></li>
	</ul>
	<h4>My trips</h4>
	<ul sec:authorize="hasAuthority('PASSENGER')">
		<li><a id="my-trips-all-nav" href="/trips/passengers/all">All trips</a></li>
		<li><a id="my-trips-active-nav" href="/trips/passengers/active">My active trips</a></li>
		<li><a id="my-trips-past-nav" href="/trips/passengers/past">My past trips</a></li>
	</ul>

	<ul sec:authorize="hasAuthority('DRIVER')">
		<li><a id="my-trips-all-nav" href="/trips/drivers/all">All trips</a></li>
		<li><a id="my-trips-active-nav" href="/trips/drivers/active">My active trips</a></li>
		<li><a id="my-trips-past-nav" href="/trips/drivers/past">My past trips</a></li>
	</ul>
</aside>

<aside th:fragment="aside-social" class="widget">
	<strong>Social:</strong>
	<hr>
	<ul class="social social-big">
		<li><a href="https://www.facebook.com" class="social-fb fa fa-facebook"></a></li>
		<li><a href="https://twitter.com" class="social-twitter fa fa-twitter"></a></li>
		<li><a href="https://www.youtube.com" class="social-youtube fa fa-youtube"></a></li>
		<li><a href="https://www.instagram.com" class="social-inst fa fa-instagram"></a></li>
	</ul>
</aside>

<section th:fragment="tariffs" id="tariffs">
	<div class="container">
		<h4 class="yellow">See Our</h4>
		<h2 class="h1">Tariffs</h2>
		<div class="row">
			<div th:each="tariff, state : ${tariffs}" class="col-md-3 col-sm-6">
				<div class="item matchHeight" style="height: 371px;">
					<div class="image">
						<img th:src="@{|/images/common/_tariff-__${state.index + 1}__.png|}" class="full-width" alt="Tariff">
					</div>
					<h4 th:text="${tariff.carClass.name}"></h4>
					<p>Standard sedan for a drive around the city at your service</p>
					<div class="price" th:text="|${tariff.pricePerKilometer}&#8372;/km|"></div>
				</div>
			</div>
		</div>
	</div>
</section>


<div th:fragment="contacts-block" class="col-lg-4 col-md-6">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-6">

			<h2 class="spanned"><span>Opening Hours:</span> 24/7</h2>
			<p>Nam eu mi eget velit vulputate tempor gravida quis massa. In malesuada condimentum
				ultrices. Sed et mauris a purus fermentum elementum. Sed tristique semper enim, et
				gravida orci iaculis et. Nulla facilisi. </p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-6">
			<ul class="address">
				<li class="large"><span class="fa fa-phone"></span>800-5-800</li>
				<li><span class="fa fa-skype"></span>gettaxipark </li>
				<li><span class="fa fa-map-marker"></span>43 2-nd Avenue, New York, 29004-7153</li>
			</ul>
			<p>QWQWqwqw!1</p>
		</div>
		<div class="col-lg-12 col-sm-12">
			<strong>Social:</strong>
			<ul class="social social-big">
				<li><a th:href="@{/https://www.facebook.com}"
						class="social-fb fa fa-facebook"></a></li>
				<li><a th:href="@{https://twitter.com}"
						class="social-twitter fa fa-twitter"></a></li>
				<li><a th:href="@{/https://www.youtube.com}"
						class="social-youtube fa fa-youtube"></a></li>
				<li><a th:href="@{/https://www.instagram.com}"
						class="social-inst fa fa-instagram"></a></li>
			</ul>
		</div>
	</div>
</div>


<section th:fragment="block-footer" id="block-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-ms-6">
				<h4>About us</h4>
				<p>Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit
					amet augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum. </p>
				<div class="social-small social-yellow">
					<a th:href="@{https://twitter.com}" class="fa fa-twitter"></a>
					<a th:href="@{https://www.facebook.com}" class="fa fa-facebook"></a>
					<a th:href="@{https://www.instagram.com}" class="fa fa-instagram"></a>
					<a th:href="@{https://www.youtube.com}" class="fa fa-youtube"></a>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 hidden-md hidden-sm hidden-xs hidden-ms">
				<h4>Explore</h4>
				<div class="row">
					<div class="col-md-5">
						<ul class="nav navbar-nav">
							<li>
								<a th:href="@{/index}">Home</a>
							</li>
							<li sec:authorize="hasAuthority('PASSENGER')">
								<a th:href="@{/trips/new}">Get Taxi</a>
							</li>
							<li sec:authorize="hasAuthority('DRIVER')" >
								<a th:href="@{/trips/drivers/available}">Find passengers</a>
							</li>
							<li>
								<a th:href="@{/users/info}">My page</a>						
							</li>
						</ul>
					</div>
					<div class="col-md-5">
						<ul class="nav navbar-nav">
							<li sec:authorize="hasAuthority('PASSENGER')">
								<a th:href="@{/balance}">My balance</a>
							</li>
							<li sec:authorize="hasAuthority('PASSENGER')">
								<a th:href="@{/trips/passengers/all}">All my trips</a>
							</li>
							<li sec:authorize="hasAuthority('PASSENGER')">
								<a th:href="@{/trips/passengers/active}">My active trips</a>
							</li>
							<li sec:authorize="hasAuthority('PASSENGER')">
								<a th:href="@{/trips/passengers/past}">My past trips</a>
							</li>
	
							<li sec:authorize="hasAuthority('DRIVER')">
								<a th:href="@{/balance}">My balance</a>
							</li>
							<li sec:authorize="hasAuthority('DRIVER')">
								<a th:href="@{/trips/drivers/all}">All my trips</a>
							</li>
							<li sec:authorize="hasAuthority('DRIVER')">
								<a th:href="@{/trips/drivers/active}">My active trips</a>
							</li>
							<li sec:authorize="hasAuthority('DRIVER')">
								<a th:href="@{/trips/drivers/past}">My past trips</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
				<h4>Contact us</h4>
				<p><span class="yellow">Address:</span> 43 2-nd Avenue, New York, NY 29004-7153</p>

				<ul class="address">
					<li><span class="fa fa-phone"></span>800-5-800</li>
					<li><span class="fa fa-envelope"></span>
						<a href="http://like-themes.com/taxipark/index.html#">gettaxi@taxipark.co.uk</a>
					</li>
					<li><span class="fa fa-skype"></span>gettaxipark</li>
				</ul>
			</div>
		</div>
	</div>
</section>


<footer th:fragment="footer">
	<div class="container">
		<a href="http://like-themes.com/">Like-themes</a> 2017 © All Rights Reserved <a
			href="http://like-themes.com/taxipark/index.html#">Terms of use</a>
		<a href="#" class="go-top hidden-xs hidden-ms"></a>
	</div>
</footer>


<div th:fragment="scripts-bottom">
	<script>var base_href = '/';</script>
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</div>


<script th:fragment="map-script" th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyC5gfkKVMI4OYiiSBtfBx35Jc9GffAfALo&&callback=initMap&libraries=places}"
defer></script>

</html>