<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: head"></head>

<body>


    <div id="homepage-block-1" class="bgMove" style="background-image: url(../images/index/_homepage-1-bg.jpg);">
        <div class="nav-wrapper" id="nav-wrapper">
            <nav class="navbar navbar-static dark">
                <div class="container">
                <a class="logo" href="#">
                    <img th:fragment="logo" th:src="@{/images/index/logo.png}" alt="Drive IN">
                </a>
                <div th:include="fragments :: nav-inner"></div>
            </div>
            </nav>
        </div>
        <div class="container content">
            <div class="get-icon">
                <h4>Get Taxi Now</h4>
                <div class="phone">800-5-800</div>
                <span class="fa fa-phone-square"></span>
            </div>
            <div id="large-image">
                <img th:src="@{/images/index/_car-big.png}" alt="TaxiPark" class="car">
                <img th:src="@{/images/index/_car-splash.png}" alt="TaxiPark" class="splash">
            </div>
        </div>
    </div>


    
    <div class="taxi-form-full">
        <div class="container">

            <div class="menu-types">
                <a href="#" data-value="Standart" class="type-1 active">Standart</a>
                <a href="#" data-value="Business" class="type-2">Business</a>
                <a href="#" data-value="VIP" class="type-3 red">Vip</a>
                <a href="#" data-value="Bus" class="type-4">Bus-Minivan</a>
                <input type="hidden" id="type-value" name="type-value" class="type-value" value="1">
            </div>
            
            <a sec:authorize="hasAuthority('PASSENGER')"  th:href="@{/trips/new}" class="btn btn-lg btn-red aligncenter width-300">Get Taxi</a>
            <a sec:authorize="hasAuthority('DRIVER')"  th:href="@{/trips/drivers/available}" class="btn btn-lg btn-red aligncenter width-300">Find passengers</a>

        </div>
    </div>

    <section id="services">
        <hr class="lg">
        <div class="container">
            <h4 class="yellow">Welcome</h4>
            <h2 class="h1">Our Services</h2>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-ms-6 matchHeight" style="height: 222px;">
                    <div class="image">
                        <img th:src="@{/images/index/_services-1.png}" alt="Service">
                    </div>
                    <h5>Rapid city transfer</h5>
                    <p>We will bring you quickly and comfortably to anywhere in your city</p>
                </div>
                <div class="col-md-3 col-sm-6 col-ms-6 matchHeight" style="height: 222px;">
                    <div class="image">
                        <img th:src="@{/images/index/_services-2.png}" alt="Service">
                    </div>
                    <h5>Booking a hotel</h5>
                    <p>If you need a comfortable hotel, our operators will book it for you, and take a taxi to the
                        address</p>
                </div>
                <div class="col-md-3 col-sm-6 col-ms-6 matchHeight" style="height: 222px;">
                    <div class="image">
                        <img th:src="@{/images/index/_services-3.png}" alt="Service">
                    </div>
                    <h5>Airport transfer</h5>
                    <p>We will bring you quickly and comfortably to anywhere in your city</p>
                </div>
                <div class="col-md-3 col-sm-6 col-ms-6 matchHeight" style="height: 222px;">
                    <div class="image">
                        <img th:src="@{/images/index/_services-4.png}" alt="Service">
                    </div>
                    <h5>Baggage transport</h5>
                    <p>If you need a comfortable hotel, our operators will book it for you, and take a taxi to the
                        address</p>
                </div>
            </div>
        </div>
    </section>

    <section th:replace="fragments :: tariffs"></section>


    <section id="car-block">
        <div class="car-right animation-block">
            <img th:src="@{/images/index/_car-big-side.png}" alt="Car" class="slideleft">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h4 class="yellow">For Drivers</h4>
                    <h2 class="h1">Do You Want To Earn With Us?</h2>
                </div>
                <div class="col-md-6">
                    <p>Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit,
                        massa efficitur dapibus pulvinar, sapien eros sodales ante,
                        euismod aliquet nulla metus a mauris. </p>
                    <ul class="check two-col strong">
                        <li>Luxury cars</li>
                        <li>No fee</li>
                        <li>Weekly payment</li>
                        <li>Fixed price</li>
                        <li>Good application</li>
                        <li>Stable orders</li>
                    </ul>
                    <a th:href="@{/auth/registration}" class="btn btn-yellow btn-lg btn-white">Become a Driver</a>
                </div>
            </div>
        </div>
    </section>

    <section th:replace="fragments :: block-footer"></section>
    <footer th:replace="fragments :: footer"></footer>
    <div th:include="fragments :: scripts-bottom"></div>

</body>

</html>