<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml" xmlns:th="http:/ /www.thymeleaf.org"
	class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">

<head th:replace="/fragments :: head"></head>

<body>
	<div th:replace="/fragments :: top-bar"></div>
	<div th:replace="/fragments :: nav"></div>

	<header class="page-header" style="background-image: url(../images/_homepage-1-bg.jpg);">
		<div class="container">
			<ol class="bread">
				<li>
					<a th:href="@{/index}"><span>Home</span></a>
				</li>
				<li class="divider"><span>//</span></li>
				<li>
					<span>Get Taxi</span>
				</li>
			</ol>
			<h1>Get Taxi</h1>
		</div>
	</header>

	<section class="form-taxi-short">
		<div class="container">
			<h4 class="yellow aligncenter">Our operators are waiting for your call:</h4>
			<h3 class="aligncenter">800-5-800</h3>
			<p class="form-label">Also you can order a taxi online</p>
			<form th:action="@{/trips/new}" method="post" th:object="${trip}">
				<div class="menu-types">
					<a href="#" 
						th:each="carClass, state : ${carClasses}"
						th:class="type- + ${state.count}"
						th:classappend="${ __${state.index}__ == 0 ? 'active' : ''}"
						th:data-value="${carClass}"
						th:text="${carClass}" >
					</a>
					<input type="hidden" name="carClass" class="type-value ajaxField" th:value="${carClasses.get(0)}">
				</div>
						<!-- th:classappend="${ __${state.current}__ == 'VIP' ? 'active' : ''}"			 -->

				<address class="row form-with-labels">
					<div class="col-md-12">
						<div class="form-group">
							<input id="origin-input" type="text" th:field="*{originAddress.address}"
								placeholder="Enter an origin location" class="ajaxField required" aria-required="true">
							<div class="validationError" th:if="${#fields.hasErrors('originAddress.address')}"
								th:errors="*{originAddress.address}">Origin address error</div>
						</div>
						<span class="fa fa-map-marker"></span>
					</div>
				</address>

				<div class="row form-with-labels">
					<div class="col-md-12">
						<div class="form-group">
							<input id="destination-input" type="text" th:field="*{destinationAddress.address}"
								placeholder="Enter a destination location" class="ajaxField controls required"
								aria-required="true">
							<div class="validationError" th:if="${#fields.hasErrors('destinationAddress.address')}"
								th:errors="*{destinationAddress.address}">Destinatation address error</div>
						</div>
						<span class="fa fa-map-marker"></span>
					</div>
				</div>

				<div class="row form-with-labels">
					<div class="col-md-12">
						<div class="form-group">
							<input type="datetime-local" min="2023-03-01T08:30" max="2050-06-30T16:30"
								th:field="*{departureDateTime}" placeholder="Date and Time" class="ajaxField">
							<div class="validationError" th:if="${#fields.hasErrors('departureDateTime')}" th:errors="*{departureDateTime}">Departure Date and Time
								error</div>
							<span class="fa fa-calendar"></span>
						</div>
					</div>
					<input type="submit" value="Get Taxi" class="btn btn-lg btn-black btn-white aligncenter">
					<!-- <button class="btn btn-lg btn-black btn-white aligncenter">Get Taxi</button> -->
			</form>


		</div>
	</section>

	<section id="maps">
		<div class="container">
			<h4 class="yellow">See you way on</h4>
			<h2 class="h1">Map</h2>
			<div style="display: none">
			</div>

			<div id="map"></div>
			<hr class="lg">
			<div id="sidebar">
				<h5 class="yellow">Total Distance: <span id="total"></span></h5>
				<div id="panel"></div>
			</div>
		</div>
	</section>
	
	<section th:replace="/fragments :: tariffs"></section>

	
	<section th:replace="/fragments :: block-footer"></section>

    <footer th:replace="/fragments :: footer"></footer>


	<div th:include="/fragments :: scripts-bottom"></div>

	<!-- <script type="text/javascript" th:src="@{/js/map-style.js}"></script> -->
	<script type="text/javascript" th:src="@{/js/map.js}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5gfkKVMI4OYiiSBtfBx35Jc9GffAfALo&&callback=initMap&libraries=places"
	defer></script>

</body>

</html>