<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- PASSANGER TABLE -->
<div th:fragment="passenger-trips" class="tabs-ui ui-tabs ui-corner-all ui-widget ui-widget-content">
	<div class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
		<div th:classappend="${subPage == 'All trips' ? 'ui-tabs-active ui-state-active' : ''}"
			class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
			<a th:href="@{/trips/passengers/all}" class="ui-tabs-anchor trip-tab">All</a>
		</div>
		<div th:classappend="${subPage == 'Active trips' ? 'ui-tabs-active ui-state-active' : ''}"
			class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
			<a th:href="@{/trips/passengers/active}" class="ui-tabs-anchor trip-tab">Active</a>
		</div>
		<div th:classappend="${subPage == 'Past trips' ? 'ui-tabs-active ui-state-active' : ''}"
			class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
			<a th:href="@{/trips/passengers/past}" class="ui-tabs-anchor trip-tab">Past</a>
		</div>
	</div>
	<div class="ui-tabs-panel ui-corner-bottom ui-widget-content">
		<div class="table-scroll">
			<table>
				<thead class="table-head">
					<tr>
						<th th:replace="tables :: sorting('departureDateTime','Date and time')"></th>
						<th th:replace="tables :: sorting('originAddress','Origin')"></th>
						<th th:replace="tables :: sorting('destinationAddress','Destination')"></th>
						<th th:replace="tables :: sorting('price','Fare')"></th>
						<th th:replace="tables :: sorting('driver','Driver')">Driver</th>
						<th th:replace="tables :: sorting('driver.car','Car')">Car</th>
						<th th:replace="tables :: sorting('timeToTaxiArrivalInSeconds','Wait time')"></th>
					</tr>
				</thead>
				<tbody>
					<!-- TODO: MAKE TABLE ROW CLICKABLE -->
					<tr th:each="trip, state : ${page.pageItem.content}" class="table-row"
						th:data-name="|/trips/passengers/manage/${trip.id}|"
						th:onclick="getTripDetailes(this.getAttribute('data-name'))">

						<td th:text="${#temporals.format(trip.departureDateTime, 'dd&#x2011MM&#x2011yyyy HH:mm')}"
							class="center"></td>
						<td th:text="${trip.originAddress}"></td>
						<td th:text="${trip.destinationAddress}"></td>
						<td th:text="|${trip.price}&nbsp&#8372;|" class="center"></td>
						<td th:text="${trip?.driverNameAndPhone}" class="center"></td>
						<td th:text="${trip?.car}" class="center"></td>
						<td th:text="${trip.timeToTaxiArrivalInSeconds}" class="center"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<!-- DRIVER TABLE -->
<div th:fragment="driver-trips" class="tabs-ui ui-tabs ui-corner-all ui-widget ui-widget-content">
	<div class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
		<div th:classappend="${subPage == 'All trips' ? 'ui-tabs-active ui-state-active' : ''}"
			class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
			<a th:href="@{/trips/drivers/all}" class="ui-tabs-anchor trip-tab">All</a>
		</div>
		<div th:classappend="${subPage == 'Active trips' ? 'ui-tabs-active ui-state-active' : ''}"
			class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
			<a th:href="@{/trips/drivers/active}" class="ui-tabs-anchor trip-tab">Active</a>
		</div>
		<div th:classappend="${subPage == 'Past trips' ? 'ui-tabs-active ui-state-active' : ''}"
			class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
			<a th:href="@{/trips/drivers/past}" class="ui-tabs-anchor trip-tab">Past</a>
		</div>
	</div>
	<div class="ui-tabs-panel ui-corner-bottom ui-widget-content">
		<div class="table-scroll">
			<table>
				<thead class="table-head">
					<tr>
						<th th:replace="tables :: sorting('departureDateTime','Date and time')"></th>
						<th th:replace="tables :: sorting('originAddress','Origin')"></th>
						<th th:replace="tables :: sorting('destinationAddress','Destination')"></th>
						<th th:replace="tables :: sorting('passenger','Passenger')"></th>
						<th th:replace="tables :: sorting('distanceInMeters','Distance')"></th>
						<th th:replace="tables :: sorting('price','Fare')"></th>
						<th th:replace="tables :: sorting('paymentStatus','Payment status')"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="trip, state : ${page.pageItem.content}" class="table-row"
						th:data-name="|/trips/drivers/manage/${trip.id}|"
						th:onclick="getTripDetailes(this.getAttribute('data-name'))">
						<td th:text="${#temporals.format(trip.departureDateTime, 'dd&#x2011MM&#x2011yyyy HH:mm')}"
							class="center"></td>
						<td th:text="${trip.originAddress}"></td>
						<td th:text="${trip.destinationAddress}"></td>
						<td th:text="|${trip?.passengerNameAndPhone}, ${trip.passengerAge}&nbspy.o.|" class="center">
						</td>
						<td th:text="|${trip.distance}&nbspkm|"></td>
						<td th:text="|${trip.price}&nbsp&#8372;|" class="center"></td>
						<td th:text="${trip.paymentStatus.name}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<!-- DRIVER TABLE. ALL AVAILABLE TRIPS -->
<div th:fragment="driver-available-trips" class="tabs-ui ui-tabs ui-corner-all ui-widget ui-widget-content">
	<div class="ui-tabs-panel ui-corner-bottom ui-widget-content">
		<div th:if="${page.pageItem.content.size > 0}" class="table-scroll">
			<table>
				<thead class="table-head">
					<tr>
						<th th:replace="tables :: sorting('departureDateTime','Date and time')"></th>
						<th th:replace="tables :: sorting('originAddress','Origin')"></th>
						<th th:replace="tables :: sorting('destinationAddress','Destination')"></th>
						<th th:replace="tables :: sorting('price','Fare')"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="trip, state : ${page.pageItem.content}" class="table-row"
						th:data-name="|/trips/drivers/details/${trip.id}|"
						th:onclick="getTripDetailes(this.getAttribute('data-name'))">

						<td th:text="${#temporals.format(trip.departureDateTime, 'dd&#x2011MM&#x2011yyyy HH:mm')}"
							class="center"></td>
						<td th:text="${trip.originAddress}"></td>
						<td th:text="${trip.destinationAddress}"></td>
						<td th:text="|${trip.price}&nbsp&#8372;|" class="center"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<h3 th:if="${page.pageItem.content.size == 0}" class="center">There are not any passengers available</h3>
	</div>
</div>

<th scope="col" th:fragment="sorting(field, label)">
	<a th:href="@{${page.requestURI} +'?'+ 'currentPageNo=' + ${page.currentPage} + '&size=' + ${page.size}
	+ ${sort.sortField!=null ? '&sorting=' + field + ',' + (sort.sortField == field ? sort.reverseSortDirection : sortDirection) : ''}}" class="black">
	  [[${label}]] </a>
	<span th:if="${sort.sortField == field}"
	  th:class="${sort.sortDirection == 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'}"></span>
  </th>

  <div th:fragment="paging" class="paging-navigation" th:if="${page.pageItem.totalPages > 1}">
	<hr>
	<div class="pagination">
		<span th:if="${!page.isFirstPage}">
			<a th:href="@{${page.requestURI} +'?' + 'currentPageNo=' + ${page.currentPage - 1} + '&size=' + ${page.size}
			+ ${sort.sortField!=null ? '&sorting=' + sort.sortField + ',' + sort.sortDirection : ''}}"		
			class="prev"><span class="fa fa-caret-left"></span> prev</a>
		</span>
		<a th:each="pageNumber : ${page.pageNumbers}"
			th:href="@{${page.requestURI} +'?' + 'currentPageNo=' + ${pageNumber} + '&size=' + ${page.size}
			+ ${sort.sortField!=null ? '&sorting=' + sort.sortField + ',' + sort.sortDirection : ''}}"
			th:class="${pageNumber==page.pageItem.number + 1} ? 'page-numbers current' : 'page-numbers'"
			th:text=${pageNumber}></a>
		<span th:if="${!page.isLastPage}">
			<a th:href="@{${page.requestURI} +'?' + 'currentPageNo=' + ${page.currentPage + 1} + '&size=' + ${page.size}
			+ ${sort.sortField!=null ? '&sorting=' + sort.sortField + ',' + sort.sortDirection : ''}}"	
				class="next">next <span class="fa fa-caret-right"></span>
			</a>
		</span>
	</div>
</div>

</html>